<div class="main illust-new">
  <p>投稿編集</p>
  <%= form_tag("/illust/update/#{@illust.id}", method: :post,multipart: true) do %>
    <p>タイトル</p>
    <input type="text" name="title" value=<%= "#{@illust.title}" %> >
    <p>画像ネーム</p>
    <input type="text" name="name" value=<%= "#{@illust.name}" %> >
    <p>モデル</p>
    <input type="text" name="model" value=<%= "#{@illust.model}" %> >
    <p>画像</p>
    <input type="file" name="image" >
    <p>透過画像</p>
    <input type="file" name="imagetp" >
    <input type="submit">
  <% end %>
  <div class="destroy-btn">
    <%= form_tag("/illust/del/#{@illust.id}", method: :post) do %>
      <input type="submit" value="削除">
    <% end %>
  </div>
</div>